#### Write a lambda function to square a number.

In [1]:
x = lambda a: a**2
x(2)

4

#### Create a lambda function to check if a given number is divisible by 3.

In [8]:
x = lambda a: True if a%3==0 else False
x(27)

True

#### Use a lambda function to convert a Celsius temperature to Fahrenheit.

In [38]:
x = lambda a: (a*9/5)+32
x(37)

98.6

#### Write a lambda function to extract the last character of a string.

In [10]:
x = lambda a: a[-1]
str = input('enter a string\n')
x(str)

enter a string
 hello

'o'

#### Create a lambda function to sort a list of tuples based on the second element of each tuple.

In [10]:
list_of_tuples = [
    ("apple", 3),
    ("banana", 6),
    ("orange", 4),
    ("grape", 8),
    ("kiwi", 2)
]
x = lambda a: sorted(a)
print(x(list_of_tuples))

[('apple', 3), ('banana', 6), ('grape', 8), ('kiwi', 2), ('orange', 4)]

#### Use a lambda function to filter out strings from a list of mixed data types.

In [22]:
l = ['ana',41,'haha',[1,2,3],(7,3,1,9),'haiah',8,'jaua']
x = lambda a: [i for i in a if type(i) is str ]
print(x(l))

['ana', 'haha', 'haiah', 'jaua']

#### Write a lambda function to calculate the area of a triangle given its base and height.

In [28]:
x = lambda a,b : (a*b)/2
print('enter the base and height of triangle respectively')
a = int(input())
b = int(input())
area = x(a,b)
print(f'area of triangle is {area}')

enter the base and height of triangle respectively

 3
 8

area of triangle is 12.0

#### reate a lambda function to check if a given string is a palindrome

In [32]:
x = lambda a : True if a[::-1]==a else False
str = input('enter a string\n')
print(x(str))

enter a string
 talat

True

#### Use a lambda function to remove duplicates from a list.

In [35]:
my_list = [1, 2, 3, 4, 2, 5, 3, 6, 4, 7, 8, 8]
s=[]
x = lambda a: s [s.append(i) for i in a if i not in s]
print(x(my_list))

SyntaxError: invalid syntax (2026761289.py, line 3)

#### Write a lambda function to calculate the average of a list of numbers.

In [36]:
l =[2,7,9,1,6,7,3]

x = lambda a: sum(a)/len(a)

print(x(l))

5.0

### Built-in Higher Order Functions

####  using map check whether each item in the list is odd or even

In [1]:
l = [1,2,3,4,5,6,7,8,9]
list(map(lambda x: x%2==0,l))

[False, True, False, True, False, True, False, True, False]

#### use the map function along with a lambda function to extract the names of all the students from the students list.

In [4]:
students = [
    {"name": "Alice", "father": "John", "address": "123 Main St"},
    {"name": "Bob", "father": "Michael", "address": "456 Elm St"},
    {"name": "Charlie", "father": "David", "address": "789 Oak St"}
]
list(map(lambda x : x['name'],students))

['Alice', 'Bob', 'Charlie']