## Tasks

num_list=[1,2,3,4]   
   use the map function to convert each element in num_list to a string and create a new list

In [12]:
num_list=[1,2,3,4]
new_list=list(map(lambda x:str(x) ,num_list))

In [13]:
new_list

['1', '2', '3', '4']

num_tuple=(0,1,2,3)  
  use map function to convert each element in  num_tuple to a string and create a new tuple

In [14]:
num_tuple=(0,1,2,3)
new_tuple=tuple(map(lambda x:str(x),num_tuple))
new_tuple

('0', '1', '2', '3')

Student_data=[('fahad','15/05/2002','35kg'),('imad','17/05/2002','37kg'),('meraj','16/02/1996','39kg'),('hamad','25/09/1998','35kg')]  
  use the map function and lambda expression to extract students names date of birth and weight  
  and create  new lists 'students_data_name','students_data_dob'and 'students_data_weight'

In [20]:
Student_data=[('fahad','15/05/2002','35kg'),('imad','17/05/2002','37kg'),('meraj','16/02/1996','39kg'),('hamad','25/09/1998','35kg')]
students_data_names=list(map(lambda name: name[0] ,Student_data))
students_data_names

['fahad', 'imad', 'meraj', 'hamad']

In [26]:
students_data_dob=list(map(lambda dob:dob[1],Student_data))
students_data_dob

['15/05/2002', '17/05/2002', '16/02/1996', '25/09/1998']

In [35]:
students_data_weight=list(map(lambda x:x[2],Student_data))
students_data_weight

['35kg', '37kg', '39kg', '35kg']

use map function to apply case_change function to a list of strings and convert the list of strings into capital case

In [9]:
def caseChange(l):
    return l.upper()

lst = 'uzair fazal usama maaz sameer mudasir shadmman luqman'.split()
lst2 = list(map(caseChange,lst))
print(lst2)

['UZAIR', 'FAZAL', 'USAMA', 'MAAZ', 'SAMEER', 'MUDASIR', 'SHADMMAN', 'LUQMAN']

In [7]:
lst=['fazal','uzair','usama','khan g','khan lala','mashar']
case_change=list(map(lambda x: x.upper(),lst))
case_change

['FAZAL', 'UZAIR', 'USAMA', 'KHAN G', 'KHAN LALA', 'MASHAR']

write a python program to create a list containing the power of said number in the bases raised to the corresponding number in the index using python  map.
create two list named bases_num and index containing integer elements
bases_num[10,20,30,40,50,60,70,80,90,100]
index=[1,2,3,4,5,6,7,8,9,10]

In [2]:
bases_num=[10,20,30,40,50,60,70,80,90,100]
index=[1,2,3,4,5,6,7,8,9,10]
calc=list(map(lambda x,y:x**y,bases_num,index))
calc

[10,
 400,
 27000,
 2560000,
 312500000,
 46656000000,
 8235430000000,
 1677721600000000,
 387420489000000000,
 100000000000000000000]

In [1]:
def gen():
    yield 'first statement'
    yield 'second statement'
    yield 'third statement'
    yield 'fourth statement'
    yield 'fifth statement'

g = gen()
while True:
    try:
        print(next(g))
    except StopIteration:
        print('no more statements')
        break

first statement
second statement
third statement
fourth statement
fifth statement
no more statements

In [8]:
def square(num):
    for i in range(1,num+1):
        yield i**2

In [9]:
g = square(10)

In [10]:
while True:
    try:
        print(next(g))
    except StopIteration:
        print('generator is exhausted')
        break

1
4
9
16
25
36
49
64
81
100
generator is exhausted